In [1]:
print("hello world")

hello world

In [2]:
number = input("Whats your number: ")

In [6]:
int(number)

55

In [5]:
type

str

In [7]:
if int(number) > 50:
    print("Your number is greater than 50")
elif int(number) < 50:
    print("Your number is lesser than 50")
else:
    print("Your number is 50")

Your number is greater than 50

In [9]:
int("hello")

ValueError: invalid literal for int() with base 10: 'hello'

In [18]:
# print s numbers from 1 -10

for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [26]:
#sum of odd numbers from 1-n,,,,,  
total = 0

n = int(input("number:? "))

for i in range(1,21,2):
    total = total + i

print(total)

100

In [21]:
#find the sum of odd numbers ffrom 1 to n

n = int(input("Whats your number: "))

total = 0

for i in range(n+1):
    total = total + i

print(total)

28

In [77]:
#priny sum of numbers from 1-100, that are divisible by 3
def divby3(n):
    total = 0
    for i in range(n+1):
        if i%3 == 0:
            total += i

    return total

divby3(200)

6633

In [78]:
5 + divby3(200)

6638

In [38]:
#factorial, using a for loop, find factorial of 7

n = int(input("Whats your number: "))
total = 1

for i in range(1, n+1):
    total = total * i

print(total)

8320987112741390144276341183223364380754172606361245952449277696409600000000000000

In [48]:
#Lists



mylist = ["Apple", "Pizza", "Burger", "h", "s", 4, 0, True, False]



for i in range(len(mylist)):
    print(mylist[i])

Apple
Pizza
Burger
h
s
4
0
True
False

In [49]:
mylist = ["Apple", "Pizza", "Burger", "h", "s", 4, 0, True, False]

for word in mylist:
    print(word)

Apple
Pizza
Burger
h
s
4
0
True
False

In [50]:
#while

total = 0

while total < 25:
    print(f"total is less than 25, it is {total} right now")
    total += 1

total is less than 25, it is 0 right now
total is less than 25, it is 1 right now
total is less than 25, it is 2 right now
total is less than 25, it is 3 right now
total is less than 25, it is 4 right now
total is less than 25, it is 5 right now
total is less than 25, it is 6 right now
total is less than 25, it is 7 right now
total is less than 25, it is 8 right now
total is less than 25, it is 9 right now
total is less than 25, it is 10 right now
total is less than 25, it is 11 right now
total is less than 25, it is 12 right now
total is less than 25, it is 13 right now
total is less than 25, it is 14 right now
total is less than 25, it is 15 right now
total is less than 25, it is 16 right now
total is less than 25, it is 17 right now
total is less than 25, it is 18 right now
total is less than 25, it is 19 right now
total is less than 25, it is 20 right now
total is less than 25, it is 21 right now
total is less than 25, it is 22 right now
total is less than 25, it is 23 right now
total is less than 25, it is 24 right now

In [51]:
password = ""

while password != "python123":
    password = input("whats the pass?: ")

print("Accesss Granted")

Accesss Granted

In [59]:
#print numbers from 1 to 10, using while loop

i = 0
total = 0 

while i <= 6:
    # print(i)
    total += i
    i+=1

print(total)

21

In [81]:
#print numbers from 1 to 10, using while loop
def print1ton(n):
    i = 0
    total = 0 

    while i <= n:
        # print(i)
        total += i
        i+=1

    print(total)


print1ton(10)

55

In [62]:
#print even numbers from 1 to 10, using while loop

i = 0


while i <= 10:
    print(i)
    i = i + 2

0
2
4
6
8
10

In [71]:
#factotrrial usign while loop 7!.

def factorial(n):
    i = 1
    total = 1

    while i <= n:
        # print(i)
        total = total * i
        i+=1

    return total


factorial(6)

720

In [68]:
def multiply(a,b):
    return a*b

def addition(a,b,c):
    return a + b + c


multiply(5,6)

addition(5,6,7)

18

In [79]:
def even_or_odd(n):
    if n%2 == 0:
        print("even")
    else:
        print("odd")

even_or_odd(56)

even

In [83]:
#recursion

def factorial2(n):
    if n == 0:
        return 1
    
    return n * factorial2(n-1)

5 + factorial2(7)

120

In [92]:
def fibonacci(n):

    if n == 0:
        return 0
    if n == 1:
        return 1
    
    return fibonacci(n-1) +  fibonacci(n-2)

total = 0
for i in range(11):
    total += fibonacci(i)

print(total)

143